<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset='utf-8'>
		
		<title>The Coding Stoic</title>
		
		<!--Google Font-->
		<link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Philosopher&display=swap" rel="stylesheet">
		
		<!-- Include fontawesome --> 
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
		
		<!--Custom Stylesheet-->
		<link type='text/css' rel='stylesheet' href='/stylesheets/stylesheet.css' />
		<link type='text/css' rel='stylesheet' href='/stylesheets/grid.css' />
		<link type='text/css' rel='stylesheet' href='/stylesheets/animations.css' />
		<link type='text/css' rel='stylesheet' href='/stylesheets/largeDisplay.css' />
		
	</head>
	<body>
		
		<div class="nav-container">
			<nav>
				
				
				<label for="nav-toggle" class="burger-menu">
					<i class="fas fa-bars fa-2x"></i>
				</label>
				<input type="checkbox" id="nav-toggle">
				
				<div class="left-menu">
					<a class='h nav-item' href="#">Home</a>
					<a class='n nav-item'href="#">New</a>
					<a class='a nav-item'href="#">About</a>
					<a class='c nav-item'href="#">Contact</a>
				</div>
				
				<a href="#" class="logo">The ${Coding} Stoic</a>
			</nav>
		</div>
	
		
		
		
	