<% include partials/header %>

 <div class='newPost philosopher'>
	<div class='heading'>
		<h3>
			New Blog Post
		</h3>
	</div>	
	<form class='form'>
		<div class='form__field title' method='POST'>
			<label class='label__title'>Title:</label>
			<input type='text' class='field__title' name='blog[title]' placeholder='Title'>
		</div>
		<div class='form__field image'>
			<label class='label__image'>Image:</label>
			<input class='field__image' type='text' name='blog[image]' placeholder='Image'>
		</div>
		<div class='form__field editorField'>
			
			<input name="blog[content]" type="hidden">
			<div class='editor-container'>
				<div id='editor' class='editor philosopher'></div>
			</div>
		</div>
		<button class='submitBtn'>
			Submit
		</button>
	 </form>
	
</div> 


<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>









<% include partials/footer %>