:root{
	--bronze: #946b2d;
	--blue: #0e1a40;
	--silver: #838383;
	--philosopher: 'philosopher', sans-serif;
	--cinzel: 'Cinzel Decorative', cursive;
}

@keyframes menuIn {
	0% {
		opacity: 0;
		background-color: var(--blue);
	}	
	
	
	
	100% {
		background-color: var(--bronze);		
		opacity: 1;		
		height: 2rem;
	}
}

@keyframes menuOut {
	0% {
		display: grid;
		opacity: 1;
		background-color: var(--bronze);
		
	}
	
	
	
	100% {
		opacity: 0;
		background-color: var(--blue);
		display: none;
		
	}
}