:root{
	--bronze: #946b2d;
	--blue: #0e1a40;
	--silver: #838383;
	--philosopher: 'philosopher', sans-serif;
	--cinzel: 'Cinzel Decorative', cursive;
}

@media only screen and (max-width: 1025px){
	.burger-menu{
		display: inline-block;
		margin: 5px;
		padding: 5px; 		
	}
	
	
	.left-menu {
		display: none;
		
	}
	
	.left-menu a {
		color: var(--blue);
		text-align: center;
		height: 2rem;
		font-size: 1rem;
		margin-top: 0;
		padding: 0;
		font-weight: 600;
	}	
}