:root{
	--bronze: #946b2d;
	--blue: #0e1a40;
	--silver: #838383;
	--philosopher: 'philosopher', sans-serif;
	--cinzel: 'Cinzel Decorative', cursive;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.nav-container {
	width: 100%;
	background-color: var(--blue);
	color: var(--bronze);
}

nav {
	max-width: 1720px;
	margin: 0 auto;
	padding: 0px;
	
}

nav a {
	text-decoration: none;
	text-transform: full-width;
}



.burger-menu, #nav-toggle {
	display: none;
}

.logo {
	font-size: 2rem;
	font-family: var(--cinzel);
	background-color: var(--blue);
	color: var(--bronze);
	padding: 1rem;
	
	
}

.left-menu {
	padding: 5px;
	font-family: var(--cinzel);
	font-size: 1.15rem;
	letter-spacing: 0.5px;
	color: var(--bronze);
	text-decoration: none;
	text-transform: full-width;
}

.left-menu a {
	color: var(--bronze);
	text-decoration: none;
	text-transform: full-width;
	font-variant: small-caps;	
	padding: 5px;
	
}

#nav-toggle:checked ~ .left-menu {
	display: grid;		
	animation: menuIn 1s forwards;
		
}
	
#nav-toggle:not(:checked) ~ .left-menu {
	animation: menuOut 1s forwards;
		
}








